{% extends 'baseCategory.html.twig' %}
{% set total = (app.user.userDocuments|length) + (app.user.userChecklists|length) + (app.user.userMedicalCourses|length) + (app.user.userSchemaContents|length) + (app.user.userVideos|length) + (app.user.userMedDisciplines|length) %}
{% set totalchecked = document|length + checklist|length + medicalD|length + medicalC|length + schema|length + video|length %}
{% set percent = ((totalchecked / total)*100)|round(0) %}
{% block title %}Dashboard
{% endblock %}

{% block body %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<section class="d-flex profil-dash m-3 mx-4">
			<button type="button" class="btn picture-patient" data-bs-toggle="modal" data-bs-target="#profilePicture">
				<div class="undefined-patient">
					{% if app.user.picture is not null %}
						{% if app.user.isUploadedPicture != true %}
							<img class="picture-profile-patient" src="{{asset('build/images/' ~ app.user.picture)}}">
						{% else %}
							<img class="picture-profile-patient" src="{{ vich_uploader_asset(app.user) }}" alt="{{ app.user.firstname }}">
						{% endif %}
					{% endif %}
				</div>
			</button>
			<div class="modal fade" id="profilePicture" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title text-center w-100 fw-bold">Ma photo de profil</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="w-100">
								{% if app.user.picture is not null %}
									{% if app.user.isUploadedPicture != true %}
										<img class="w-100" src="{{asset('build/images/' ~ app.user.picture)}}">
									{% else %}
										<img class="w-100" src="{{ vich_uploader_asset(app.user) }}" alt="{{ app.user.firstname }}">
									{% endif %}
								{% endif %}
							</div>
						</div>
						<div class="modal-footer">
							{% include "components/upload_profile_picture.html.twig" %}
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex flex-column ms-3 w-100">
				<div class=" my-2 fs-3 fw-bold">
					{{app.user.firstname}}
				</div>
				<div class="progress progress-index position-relative z-0">
					<div class="progress-bar rounded-5-start progbar progressbar-index z-2" style="width: {{percent}}%" role=" progressbar" aria-label=" example with label" aria-valuenow=" 4" aria-valuemin=" 0" aria-valuemax=" 100">
						<div class="progress-title p-2 position-absolute z-3 d-flex justify-content-between w-100">
							{% if total == totalchecked %}
								<div class="d-flex align-items-center">
									<div class="d-flex align-items-center">
										<i class=" finishbutton bi-check2-circle me-2"></i>
										Vous êtes prêt !
									</div>
								</div>
							{% else %}
								<div>Ma préparation</div>
							{% endif %}
							<div class="d-flex align-items-center">
								{{percent}}%
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	<div class="d-flex justify-content-end m-3 mx-4">

		<table>
			<thead class="thead-rdv">
				<tr>
					<th class="px-3">DATE</th>

					<th>HEURE</th>
				</tr>
			</thead>
			<tbody class="tbody-rdv">
				<tr>
					<td class="px-3">{{ "now"|date("d/m/Y") }}</td>

					<td>{{ "now-1"|date("H:i") }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	{% for category, messages in app.flashes %}
		{% for message in messages %}
			<div id="flashMessage" class="alert alert-{{ category }} alert-dismissible fade show mx-4" role="alert">
				{{ message }}
				<button id="btnFlashMessage" type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endfor %}

	{% include "/components/_progressbar_category1.html.twig" %}
	{% include "/components/_progressbar_category2.html.twig" %}
	{% include "/components/_progressbar_category3.html.twig" %}
	{% include "/components/_progressbar_category4.html.twig" %}
	{% include "/components/_progressbar_category5.html.twig" %}
{% endblock %}
