{% extends 'base.html.twig' %}

{% block title %}Les réponses du jour
{% endblock %}

{% block body %}

	<h1 class="text-center">Les réponses du jour</h1>
	{% for welfare in welfares|sort ((a, b) => b.score <=> a.score) %}
		<div class="">
			<div class="card border border-2 w-50 mx-auto m-5">
				<div class="card-header d-flex justify-content-between pt-0 pb-0">
					<span class="d-flex align-items-center">
						{{ welfare.user.firstname }}
						{{ welfare.user.lastname }}</span>
					{% if welfare.score == 1 %}
						<div>
							Bien
							<img class="img-fluid emojidashboard" src="{{asset('build/images/WelfareForm-happy.svg')}}" alt="home"></div>
					{% endif %}
					{% if welfare.score == 2 %}
						<div>Fatigué.e<img class="img-fluid emojidashboard" src="{{asset('build/images/WelfareForm-tired.svg')}}" alt="home"></div>
					{% endif %}
					{% if welfare.score == 3 %}
						<div>
							Stressé.e
							<img class="img-fluid emojidashboard" src="{{asset('build/images/WelfareForm-stress.svg')}}" alt="home"></div>
					{% endif %}
					{% if welfare.score == 4 %}
						<div>
							Mal
							<img class="img-fluid emojidashboard" src="{{asset('build/images/WelfareForm-unhappy.svg')}}" alt="home"></div>
					{% endif %}
				</div>
				<div class="card-body p-2">
					<div class="d-flex justify-content-between align-items-center">
						<h5 class="card-title text-decoration-underline">Coordonnées :</h5>
					</div>
					<div>
						<i class="bi bi-telephone-fill"></i>
						{{ welfare.user.phonenumber}}</div>

					<div class="d-flex">
						<i class="bi bi-envelope-fill me-1"></i>
						{{ welfare.user.email}}

						<a href="#" class="btn btn-primary position-absolute bottom-0 end-0 m-2">Rappeler ce patient</a>
					</div>
				</div>

			</div>
		</div>


	{% else %}
		<tr>
			<td colspan="10">Pas de réponse aujourd'hui</td>
		</tr>
	{% endfor %}

</div>{% endblock %}
