{% extends 'base.html.twig' %}

{% block title %}SchemaContent index{% endblock %}

{% block body %}
    <h1>SchemaContent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schema_content in schema_contents %}
            <tr>
                <td>{{ schema_content.id }}</td>
                <td>{{ schema_content.picture }}</td>
                <td>{{ schema_content.title }}</td>
                <td>
                    <a href="{{ path('app_schema_content_show', {'id': schema_content.id}) }}">show</a>
                    <a href="{{ path('app_schema_content_edit', {'id': schema_content.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_schema_content_new') }}">Create new</a>
{% endblock %}
