{% extends 'base.html.twig' %}

{% block title %}Checklist index{% endblock %}

{% block body %}
    <h1>Checklist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for checklist in checklists %}
            <tr>
                <td>{{ checklist.id }}</td>
                <td>{{ checklist.name }}</td>
                <td>{{ checklist.description }}</td>
                <td>
                    <a href="{{ path('app_checklist_show', {'id': checklist.id}) }}">show</a>
                    <a href="{{ path('app_checklist_edit', {'id': checklist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_checklist_new') }}">Create new</a>
{% endblock %}
