{% extends 'base.html.twig' %}

{% block title %}Checklist index
{% endblock %}

{% block body %}
	<h1>Checklist index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nom du document</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for checklist in checklists %}
				<tr>
					<td>{{ checklist.name }}</td>
					<td>{{ checklist.description }}</td>
					<td>
						<a href="{{ path('app_checklist_show', {'id': checklist.id}) }}">Détail</a>
						<a href="{{ path('app_checklist_edit', {'id': checklist.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_checklist_new') }}">Créer un nouveau document</a>
{% endblock %}
