{% extends 'admin/baseAdmin.html.twig' %}
{% block title %}Document index
{% endblock %}

{% block body %}
	<h1 class="text-center m-3">Les documents</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th class="text-center">Image</th>
				<th class="text-center">Temps de lecture</th>
				<th class="text-center">Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for document in documents %}
				<tr>
					<td>{{ document.title }}</td>
					<td class="text-center"><img class="rounded w-50" src="{{asset('build/images/' ~ document.picture)}}"></td>
					<td class="text-center">{{ document.readTime }}'</td>
					<td>{{ document.description }}</td>
					<td>
						<a class="btn btn-primary" href="{{ path('app_document_edit', {'id': document.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary m-2" href="{{ path('app_document_new') }}">Nouveau document</a>
{% endblock %}
