{% include "/components/_progressbar.html.twig" %}

<h2 class="my-4 mx-4">Quelques documents</h2>

<section class="d-flex justify-content-center p-0">
	<div class="row mx-4">
		{% for userDocument in userDocuments %}
			<div class="card schema-card col-6 g-3">
				<img class="card-img-top documentPicture" src="{{asset('build/images/' ~ userDocument.document.picture)}}" alt="Card image cap">
                <a href="{{ path("app_document_check" , { id: document.id }) }}">
                    <i class="bi {{ document.userDocument.isChecked ? 'bi-heart-fill' : 'bi-heart' }}"></i>
                </a>
				<div class="card-body">
					<h5 class="card-title">{{ document.title}}</h5>
					<p class="card-text card-subtitle text-muted">
						{% if document.readTime != 0 %}
							{{ document.readTime}}
							minutes
						{% endif %}
					</p>
					<p class="card-text card-subtitle text-muted">{{ document.description}}</p>
					<p>
						<a href="#">Marquer comme fait/vu</a>
					</p>
				</div>
			</div>
		{% endfor %}
	</div>
</section>



{#<img class ="empty-checked-absolute" src="{{ asset('build/images/checked-empty.svg')}}" alt="...">#}

