{% include "/components/_progressbar_category2.html.twig" %}

<h2 class="my-4 mx-4">Quelques documents</h2>

<section class="d-flex justify-content-center p-0">
	<div class="row mx-4">
		{% for userDocument in userDocuments %}
			<div class="card schema-card col-6 g-3">
				<img class="card-img-top documentPicture" src="{{asset('build/images/' ~ userDocument.document.picture)}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{ userDocument.document.title}}</h5>
					<p class="card-text card-subtitle text-muted">
						{% if userDocument.document.readTime != 0 %}
							{{ userDocument.document.readTime}}
							minutes
						{% endif %}
					</p>
					<p class="card-text card-subtitle text-muted">{{ userDocument.document.description}}</p>
					<a class="checkButton" href="{{ path("app_document_check" , { id: userDocument.document.id }) }}">
						<i class="bi {{ userDocument.isChecked ? 'bi-check-circle' : 'bi-circle'}}"></i>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
