{% include "/components/_progressbar_category5.html.twig" %}

<div class="container p-4 my-4">
	{% for userChecklist in userChecklists %}
		<div class="card shadow-sm bg-body rounded mb-4">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center">
					<span class="{{ userChecklist.isChecked ? 'is-checked-checklist' : 'is-not-checked-checklist'}}">{{ userChecklist.checklist.name }}</span>
					<a class="checkChecklistButton" href="{{ path("app_checklist_check" , { id: userChecklist.checklist.id }) }}">
						<i class="bi {{ userChecklist.isChecked ? 'bi-check-circle' : 'bi-circle'}}"></i>
					</a>
				</div>
				<p class="text-muted mb-0">{{ userChecklist.checklist.description }}</p>
			</div>
		</div>
	{% endfor %}
</div>
