<div class="modal fade" id="modal{{schema.id}}" aria-hidden="true" aria-labelledby="modalLabel" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalLabel">
					{{schema.title}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body card schema-card col-12 g-4">
				<img class="rounded-4 schema-picture h-100" src="{{asset('build/images/' ~ schema.picture)}}" alt="Card image cap">
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" data-bs-target="#modal{{schema.id - 1}}" data-bs-toggle="modal">Schéma précédent</button>
				<button class="btn btn-primary" data-bs-target="#modal{{schema.id + 1}}" data-bs-toggle="modal">Schéma suivant</button>
			</div>
		</div>
	</div>
</div>

<div type="button" class="card schema-card col-6 g-4" data-bs-target="#modal{{schema.id}}" data-bs-toggle="modal">
	<img class="rounded-4 schema-picture h-100" src="{{asset('build/images/' ~ schema.picture)}}" alt="Card image cap">
</div>
