<nav class="navbar navbar-expand fixed-bottom navbar-dark m-0 p-0">
	<div class="navbar w-100">
		<ul class="navbar-nav m-2 w-100 d-flex justify-content-between">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path("app_category_index") }}"><img src="{{asset('build/images/home.svg')}}" alt="home">
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{ path("app_logout") }}"><img src="{{asset('build/images/toggle.svg')}}" alt="home"></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{ path("app_login") }}"><img src="{{asset('build/images/toggle.svg')}}" alt="home"></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#"><img src="{{asset('build/images/toggle.svg')}}" alt="home">
				</a>
			</li>
		</ul>
	</div>
</nav>
