<a href="{{ path("app_category_show" , { id: category.id }) }}" class="text-decoration-none">
	<div class="progress rounded-4 my-3 mx-4 {{category.progressColor}}">
		<div class="progress-bar progbar-40 rounded-4-start {{ category.progressbarColor }}" id="{{ category.progressbarColor }}" role="progressbar" aria-label="Example with label" aria-valuenow="4" aria-valuemin="0" aria-valuemax="10">
			<div class="progress-title-cat px-3">{{category.title}}</div>
		</div>
		<span class="progress-level-cat align-self-center text-white ms-auto p-2">4/10</span>
	</div>
</a>
