{% extends 'base.html.twig' %}

{% block title %}MedicalCourse{% endblock %}

{% block body %}
    <h1>MedicalCourse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medical_course.id }}</td>
            </tr>
            <tr>
                <th>Step</th>
                <td>{{ medical_course.step }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ medical_course.title }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ medical_course.picture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_medical_course_index') }}">back to list</a>

    <a href="{{ path('app_medical_course_edit', {'id': medical_course.id}) }}">edit</a>

    {{ include('medical_course/_delete_form.html.twig') }}
{% endblock %}
